@using BEL.FeedbackWorkflow.Models.Feedbacks
@using BEL.CommonDataContract
@using BEL.FeedbackWorkflow.Models.Common
@model  IContract
@{
    FeedbacksAdminContract contract = Model as FeedbacksAdminContract;
    FeedbacksAdminForm form = contract.Forms.FirstOrDefault() as FeedbacksAdminForm;
    ViewBag.Title = "Product Quality Feedback";
    FeedbacksAdminDetailSection feedbackAdminDetailSection = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(FeedbackSectionName.FEEDBACKDETAILADMINSECTION)) as FeedbacksAdminDetailSection;

}
@if (form != null)
{
    @section buttons{
        @Html.Partial("_ButtonGroup", form.Buttons)
    }

    if (!string.IsNullOrEmpty(form.FormStatus))
    {
        <div class="card-body text-right pad-bot-15">
            <div class="label label-primary">
                @form.FormStatus
            </div>
        </div>
    }

    <div id="pageFeedback">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="tab-content responsive " id="generalTabContent">
                        @if (feedbackAdminDetailSection != null)
                        {  
                                        @Html.Partial("Admin/_feedbacksAdminDetailSection", feedbackAdminDetailSection)
      
                        }
                       

                        @{ApplicationStatusSection appStatus = form.SectionsList.FirstOrDefault(f => f != null && f.SectionName.Equals(SectionNameConstant.APPLICATIONSTATUS)) as ApplicationStatusSection;

                        if (appStatus != null)
                        {
                            @Html.Partial("_ApplicationStatus", appStatus)
                        }

                        ActivityLogSection activityLog = form.SectionsList.FirstOrDefault(f => f.SectionName.Equals(FeedbackSectionName.ACTIVITYLOG)) as ActivityLogSection;
                        if (activityLog != null)
                        {
                            @Html.Partial("_ActivityLogs", activityLog, new ViewDataDictionary { { "Resources", ResourceNames.Feedbacks } })
                        }
                        }
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div id="divAddProductSerial"></div>
    <div class="scroll-top-wrapper ">
        <i class="fa fa-chevron-up">
        </i>
    </div>
   
    @section scripts{
        @Scripts.Render("~/bundles/feedbackindex")
    }
}


