@using BEL.FeedbackWorkflow.Models.Feedbacks
@using BEL.FeedbackWorkflow.Models.Common
@using BEL.FeedbackWorkflow.Models.Master;
@using BEL.CommonDataContract;
@model CCActingUserSection
@{

    ApproverMaster approverusrelist = Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(FeedbacksMasters.APPROVERMASTER)) as ApproverMaster;
    List<ApproverMasterListItem> ccQualityInchargeUserList = approverusrelist.Items.Where(x => (x as ApproverMasterListItem).Role == FeedbackRoles.CCQUALITYINCHARGEUSER).ToList().ConvertAll(p => (ApproverMasterListItem)p);
    ccQualityInchargeUserList = Helper.SplitUser(ccQualityInchargeUserList);
}

@using (Ajax.BeginForm("SaveCCActingUserSection", "Feedbacks", new AjaxOptions
    {
        HttpMethod = "POST",
        LoadingElementId = "loading",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnBegin = "BeginClient"
    }, new { enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(m => m.ListDetails[0].ItemId)
    @Html.HiddenFor(m => m.ListDetails[0].ListName)
    @Html.HiddenFor(m => m.SectionName)
    @Html.HiddenFor(m => m.ActionStatus)
    @Html.HiddenFor(m => m.Status)

    @Html.Partial("_ApproversList", Model.ApproversList)
    @*@Html.AntiForgeryToken()*@

    <div class="row">
        <div class="col-sm-6 attachment">
            <div class="form-group">
                <label for="FileNameList" class="col-md-4 control-label">
                    @Html.LabelFor(m => m.CCFileNameList, ResourceNames.Feedbacks)
                </label>
                <div class="col-md-8 ">
                    <span class="text-danger text-default-light">
                        (Max. up to 40MB per file and you can upload maximum 10 files.)
                    </span>
                    <div id="CCAttachFile" data-appname="@SiteURLs.FEEDBACKSITEURL">
                    </div>
                    @Html.TextBoxFor(m => m.CCFileNameList, new { @class = "notvisible" })
                    @Html.ValidationMessageFor(m => m.CCFileNameList, ResourceNames.Feedbacks)

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-md-4 control-label">
                    <span class="text-danger text-default-light">*</span>
                    @Html.LabelFor(m => m.ForwardtoCCQualityIncharge, ResourceNames.Feedbacks)

                </label>
                <div class="col-md-8 ">
                    <div class="form-control noborder">
                        @Html.RadioButtonFor(m => m.ForwardtoCCQualityIncharge, "True", new { @Id = "ForwardtoQualityIncharge1" })
                        <label for="ForwardtoQualityIncharge1">@Html.ResourceValue("Label_ForwardtoQualityIncharge1", ResourceNames.Feedbacks)</label><br />
                        @Html.RadioButtonFor(m => m.ForwardtoCCQualityIncharge, "False", new { @Id = "ForwardtoQualityIncharge2" })
                        <label for="ForwardtoQualityIncharge2">@Html.ResourceValue("Label_ForwardtoQualityIncharge2", ResourceNames.Feedbacks)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label left">
                    <span class="text-danger text-default-light">*</span>
                    @Html.ResourceValue("Label_Comment", ResourceNames.Feedbacks)
                </label>
                <div class="col-sm-8">
                    <div class="form-control noborder text-left">
                        @Html.TextAreaFor(m => m.CurrentApprover.Comments, new { maxlength = 1000, @class = "form-control requiredOnSendBack", @data_val = "true", @data_val_required = "Comments/Remarks is required (max allow 1000 char.)", data_toggle = "tooltip", title = "Max 1000 characters" })
                        @Html.HiddenFor(x => x.CurrentApprover.Approver)
                        @Html.HiddenFor(x => x.CurrentApprover.Role)
                        @Html.HiddenFor(x => x.CurrentApprover.AssignDate)
                        @Html.ValidationMessageFor(m => m.CurrentApprover.Comments, ResourceNames.Feedbacks)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group CCQualityInchargeUser">
                <label class="col-md-4 control-label">
                    @*<span class="text-danger text-default-light">*</span>*@
                    @Html.LabelFor(m => m.CCQualityInchargeUser, ResourceNames.Feedbacks)
                </label>
                <div class="col-md-8 ">
                    <div class="form-control noborder">
                       @Html.DisplayFor(m=>m.CCQualityInchargeName)
                      
                        @Html.HiddenFor(m => m.CCQualityInchargeUser)
                        @Html.HiddenFor(m => m.CCQualityInchargeName)
                       

                    </div>
                </div>
            </div>
        </div>

        

    </div>
}

